body{
    background-image:url(leavez.jpeg) ;
}

img{
    padding: 12px;
    height: 80%;
    
}
.h1{
    color: aliceblue;
    font-style: italic;
    font-size: 2.5em;
    font-display: inherit;
    text-align: center;
    margin-top: 36px;
    ;
}
    .navbar-brand{
        margin-left: 1.5em;
        font-size: 1.5em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bold;
    }
        .nav-link{
            margin-left: 3.5em;
            font-weight: bold;
        }
        
    .navbar-nav{ 
                float: left;
            }
            .container{
                background-color: chartreuse;
                margin-top: -1em;
                position: fixed;
                margin-left: 6em;
            }
            #p1{
                color: cornsilk;
                font-weight: bold;
                text-align: center;
            }
            #p2{
                color: cornsilk;
                font-weight: bold;
                text-align: center;
            }
            .row{
                display: flex;
                padding: 32px;
            }
            .btn{
                margin-top: 6%;
            }
            #btn2{
                margin-top: 14%;
            }
           
    
    
